.split {
    height: 100%;
    width: 30%;
    position: absolute;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  
    padding-top: 20px;
  }
  .left {
    left: 0;
   
  }
  .main{
      display: flex;
  }
  .loginimg {
    
    height: auto;
    object-fit: cover;
    
}

  .right {
    right: 0;
   
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  